body{
    background: white;
}

.hover{
    color: white;
}

.hover:hover{
    border-radius: 3px;
    background: red;
    color: white;
}

.pd_left{
    padding-left: 10px;
}

.table{
    background: white;
}

footer{
    background: white;
}

h1{
    color: rgb(56, 56, 56);
}